@model IEnumerable<MidtermProject.Models.Blog>

@{
    ViewData["Title"] = "Index";
}
@{
    var txt = "";

    if (DateTime.Now.Hour > 12)
    { txt = "Good afternoon"; }
    else
    { txt = "Good Morning"; }
}
<h1 class="text-center">@txt, Myself</h1>
<table >
    <tr style="font-weight:700">
        <th width="100px">Day</th>
        <th width="100px">Hour</th>
        <th width="100px">Minute</th>
        <th width="100px">Second</th>
    </tr>
    <tr>
        <td>@DateTime.Now.Day</td>
        <td>@DateTime.Now.Hour</td>
        <td>@DateTime.Now.Minute</td>
        <td>@DateTime.Now.Second</td>
    </tr>
</table>

@using (Html.BeginForm("Index", "Blog", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
{
    <div class="row pt-4 pb-3">
        <btn class="col-6">
            <a asp-controller="Blog" asp-action="Create" class="btn btn-dark">
                <i class="bi bi-plus-circle"></i> New Blog
            </a>
        </btn>
    </div>
}

<div class="row pb-3">
    @foreach (var item in Model)
    {
        <div class="col-lg-6 colcol-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-5 shadow border-top border-5 rounded" style="height: 425px">
                        <div>
                            <div class="pl-1">
                                <p class="card-title h5 text-danger text-uppercase text-center" style="font-weight:bold; margin-top:5px">@Html.DisplayFor(modelItem => item.TieuDe)</p>
                                <p class="card-title h6 text-dark opacity-75">@Html.DisplayFor(modelItem => item.Category.TenTheLoai) - @Html.DisplayFor(modelItem => item.TacGia)</p>
                            </div>
                            <div class="pl-1">
                                <p class="card-title">@Html.Raw(item.NoiDung)</p>
                            </div>
                        </div>
                        <div class="btn-group align-items-center" style="position:absolute; bottom:0; display:block; margin:auto" role="group">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</tbody>
