@model IEnumerable<MidtermProject.Models.Blog>

@{
    ViewData["Title"] = "Index";
}
@{
    var txt = "";

    if (DateTime.Now.Hour > 12)
    { txt = "Good afternoon"; }
    else
    { txt = "Good Morning"; }
}
<h1 class="text-center">@txt, Myself</h1>
<table >
    <tr style="font-weight:700">
        <th width="100px">Day</th>
        <th width="100px">Hour</th>
        <th width="100px">Minute</th>
        <th width="100px">Second</th>
    </tr>
    <tr>
        <td>@DateTime.Now.Day</td>
        <td>@DateTime.Now.Hour</td>
        <td>@DateTime.Now.Minute</td>
        <td>@DateTime.Now.Second</td>
    </tr>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.TacGia)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.CateId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.TenTheLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
